extends layout

block content
  h1= title
  p Welcome to the tree pug
  div(class="container-fluid")
        div(class="row")
            -
                let tree = results
                
  div(class="container-fluid") 
    div(class="row  m-1") 
      each item in tree 
       - let destination = `dispatch(\"/tree/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") tree #{item.tree_type}(#{item.size}) is #{item.age}
            button.btn( class="btn-primary ml-1", onclick= destination) Update
            
        script.                
            function buy(itemNo)
            {
                  alert(`you purchased Item ${itemNo+1}`)
            }
        script. 
          function dispatch(path)
          { 
              window.location.href=path 
          }