extends layout 
 
block content 
  h1= title 
 
  - let treeid = toShow.id 
  - let treetree_type = toShow.tree_type 
  - let treesize = toShow.size 
  - let treeage = toShow.age
  div 
    div.row 
      div(class='treeAttr mr-3') tree ID is: 
      div #{treeid} 
    div.row 
      div(class='treeAttr mr-3') tree Type is: 
      div #{treetree_type} 
    div.row 
      div(class='treeAttr mr-3') tree Size is: 
      div #{treesize} 
    div.row 
      div(class='treeAttr mr-3') tree age is: 
      div #{treeage} 